# /etc/hosts - Managed by Ansible
# Any changes made directly to this file may be overwritten

# IPv4 localhost
127.0.0.1 localhost

# IPv6 localhost
::1 localhost ip6-localhost ip6-loopback

# Primary host entry with public IP
{{ _primary_ip }} {{ fqdn }} {{ hostname }}
