# Artifacts and temporary files
*.tmp
*.bak
*.log
*.local
*.egg-info
.ansible
.archive
**/.old
**/.cache
*.local.*

# Sensitive files
*.env
*.pem
*.key
*.crt
*.pub
**/files/
*decrypted*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate.d/
*.tfplan

# OS files
._*
*~
.Trash-*
Thumbs.db
.DS_Store
.directory
Desktop.ini
.LSOverride
.AppleDouble
$RECYCLE.BIN/
